node_modules
*.env
bigquery-key.json
**/*.txt
**/*.json
*.txt
*.html
*.csv
*.zip
js/*.txt
js/*.csv
js/csv_aj
js/csv_aj/*
js/csv_encar
js/csv_encar/*

js/carmanager_links.json
js/carmanager_links.txt
js/links_encar_domestic.json
js/links_mpark.json

